// About page components
// Members section
// -----------------------------------------------------------------------------

.members {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .member {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    .icon svg {
      overflow: unset;
      margin: unset;
      object-fit: contain;
      width: 64px;
      height: 64px;
      fill: $primary-dim-color;
    }

    .icon i {
      font-size: 64px;
      color: $primary-dim-color;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}
